<h2>Login</h2>
<form method="POST" >
    <label>Login</label>
    <input type="text" name="Username" />
    <label>Senha</label>
    <input type="password" name="Password" />
    <input type="submit" value="GO!">
</form>